
<!-- <img alt="" src="https://localhost:7293/Uploads/001-000000013/0005.jpg" /> -->
<!-- <img alt="" src="/assets/img/0005.jpg" /> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-md-1" >
    <input type="text" class="form-control mb-3"
    placeholder="Search by Name"
    (selectItem)="selectedItem($event.item)"
    [ngbTypeahead]="service.search" />

      <div class="grid-container" *ngIf="imageUrls">
          <div *ngFor="let url of imageUrls; let i = index">
            <div  class="grid-item ">
              <img alt="" [src]="imageUrls[i].ImageURL" class="img-fluid">
              <!-- <span class="imagebox-desc">{{imageUrls[3*i].PNo}}</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container-fluid"> -->
    <!-- <div class="grid-container">
      <div *ngIf="imageUrls">
        <div *ngFor="let url of imageUrls; let i = index">
          <div  class="grid-item">
            <img [src]="imageUrls[i].imageUrl" class="img-fluid">
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

<!-- <table *ngIf="imageUrls">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox">
        <img [src]="imageUrls[3*i].imageUrl" class="img-fluid">
        <span class="imagebox-desc">{{imageUrls[3*i].caption}}</span>
      </div>
    </td>
    <td *ngIf="imageUrls[3*i+1]">
      <div class="imagebox">
        <img [src]="imageUrls[3*i+1].imageUrl" class="img-fluid">
      </div>
    </td>
    <td  *ngIf="imageUrls[3*i+2]">
      <div class="imagebox">
        <img [src]="imageUrls[3*i+2].imageUrl" class="img-fluid">
      </div>
    </td>
  </tr>
</table> -->


<!-- original -->

<!-- <table *ngIf="imageUrls">
  <tr *ngFor="let i of rowIndexArray">
    <td>
      <div class="imagebox" *ngIf="i==0">
        <a routerLink="/image/upload">
          <img src="/assets/img/new_image.jpg" class="img-fluid">
          <span class="imagebox-desc">Insert New Image</span>
        </a>
      </div>
      <div class="imagebox" *ngIf="i!=0">
        <img [src]="imageUrls[3*i-1].imageUrl" class="img-fluid">
        <span class="imagebox-desc">{{imageUrls[3*i-1].caption}}</span>
      </div>
    </td>
    <td *ngIf="imageUrls[3*i]">
      <div class="imagebox">
        <img [src]="imageUrls[3*i].imageUrl" class="img-fluid">
        <span class="imagebox-desc">{{imageUrls[3*i].caption}}</span>
      </div>
    </td>
    <td *ngIf="imageUrls[3*i+1]">
      <div class="imagebox">
        <img [src]="imageUrls[3*i+1].imageUrl" class="img-fluid">
        <span class="imagebox-desc">{{imageUrls[3*i+1].caption}}</span>
      </div>
    </td>
  </tr>
</table> -->
</div>
