/* Add your styles here */

/* Add your styles here */

.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-button {
  cursor: pointer;
  margin: 0 20px; /* Adjust the margin as needed */
}

.spacer {
  flex: 1 1 auto;
}
